@import "settings";
@import "../vendor/bourbon/bourbon";
@import  //"../vendor/foundation/scss/foundation/components/accordian",
  // "../vendor/foundation/scss/foundation/components/alert-boxes",
  "../vendor/foundation/scss/foundation/components/block-grid",
  // "../vendor/foundation/scss/foundation/components/breadcrumbs",
  // "../vendor/foundation/scss/foundation/components/button-groups",
  "../vendor/foundation/scss/foundation/components/buttons",
  // "../vendor/foundation/scss/foundation/components/clearing",
  "../vendor/foundation/scss/foundation/components/dropdown",
  "../vendor/foundation/scss/foundation/components/dropdown-buttons",
  "../vendor/foundation/scss/foundation/components/flex-video",
  "../vendor/foundation/scss/foundation/components/forms",
  "../vendor/foundation/scss/foundation/components/global",
  "../vendor/foundation/scss/foundation/components/grid",
  // "../vendor/foundation/scss/foundation/components/icon-bar",
  // "../vendor/foundation/scss/foundation/components/iconbar",
  "../vendor/foundation/scss/foundation/components/inline-lists",
  // "../vendor/foundation/scss/foundation/components/joyride",
  // "../vendor/foundation/scss/foundation/components/keystrokes",
  "../vendor/foundation/scss/foundation/components/labels",
  "../vendor/foundation/scss/foundation/components/magellan",
  "../vendor/foundation/scss/foundation/components/offcanvas",
  // "../vendor/foundation/scss/foundation/components/orbit",
  // "../vendor/foundation/scss/foundation/components/pagination",
  "../vendor/foundation/scss/foundation/components/panels",
  "../vendor/foundation/scss/foundation/components/pricing-tables",
  // "../vendor/foundation/scss/foundation/components/progress-bars",
  // "../vendor/foundation/scss/foundation/components/range-slider",
  // "../vendor/foundation/scss/foundation/components/reveal-new",
  "../vendor/foundation/scss/foundation/components/reveal",
  "../vendor/foundation/scss/foundation/components/side-nav",
  // "../vendor/foundation/scss/foundation/components/split-buttons",
  "../vendor/foundation/scss/foundation/components/sub-nav",
  // "../vendor/foundation/scss/foundation/components/switches",
  "../vendor/foundation/scss/foundation/components/tables",
  "../vendor/foundation/scss/foundation/components/tabs",
  // "../vendor/foundation/scss/foundation/components/thumbs",
  // "../vendor/foundation/scss/foundation/components/toolbar",
  "../vendor/foundation/scss/foundation/components/tooltips",
  "../vendor/foundation/scss/foundation/components/top-bar",
  "../vendor/foundation/scss/foundation/components/type",
  "../vendor/foundation/scss/foundation/components/visibility",
  "../vendor/foundation/scss/foundation/functions";
@import "foundation-icons";
@import "lib";

$img_base_url: "http://shc.edu.common.static.s3-website-us-east-1.amazonaws.com/images";

h1, h2, h3, h4, h5, h6 {
  font-family: Cardo, "Times", "Times New Roman", serif;
  line-height: 1.2;
}

h1, h2 {
  text-transform:uppercase;
}

h3 {
  font-style: italic;
}

h1 {
  small {
    font-style: italic;
    text-transform: none;
    color: #222;
    font-size: 1.3rem;
    position: relative;
    bottom: .3rem;
  }
}

.hidden {
  display: none !important;
}

.page-content a:not(.button):hover {
  color: darken($primary-color, 10%);
  text-decoration: underline;
}

.request-info .button {
  font-size: 1.2rem;
  line-height: 1.4;
}

p {
  &:first-of-type {
    margin-top: 0;
  }
  // &:last-of-type {
  //   margin-bottom: 0;
  // }
}

p.emphatic,
.emphatic p {
  font-size: 1.25rem;
  font-style: italic;
  color: #4d7027;
}

.discreet {
  font-size: .95rem;
  color: #444;
}

a.strong,
.strong a {
  font-weight: 700;
  font-size: 1.2rem;
}

dl {
  dt {
    margin-bottom: 0;
  }
  dd {
    padding-left: 1rem;
  }
}


blockquote, blockquote p {
  // font-size: .8rem;
}

ul.less-list {
  margin-bottom: .5rem;
}

.f-dropdown.more-list {
  li {
    cursor: auto;
    line-height: 1.5rem;
    &:hover {
      background: none;
    }
  }
}

.admin-links {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  a.button {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.search i.fi-magnifying-glass {
  font-size: 1.5rem;
}


// show/hide based on screen size
.desktop-nav,
.subheader,
.row.services,
.footer-wrapper {
  @extend .hide-for-small-only;
}

.mobile-nav {
  @extend .hide-for-medium-up;
}

.globalheader {
  .inline-list {
    margin-bottom: 0;
    * {
      margin-bottom: 0;
    }
  }
}

// .subheader {
//   .sub-nav {
//     margin-top: 0;
//     margin-bottom: 0;
//     dd {
//       margin-left: 0;
//     }
//   }
// }

.tab-bar {
  background: $base-color;
}

.desktop-nav {
  .services-wrapper,
  .branding-wrapper,
  .main-nav-wrapper {
    background: $base-color;
  }
}

// .desktop-nav {
//   .main-nav-wrapper {
//     height: 49px;
//   }
// }

.tab-bar .menu-icon {
  z-index: 1000;
}

.side-nav {
  @include side-nav(
    // Border color of divider
    $divider-color: '#ccc',
    // Font size of nav items
    $font-size:1.2em,
    // Color of navigation links
    $link-color:'#333',
    // Color of navigation links on hover
    $link-color-hover: '#444'
  );
  padding-top: 0;
  li {
    margin-bottom: 0;
  }
  li a:not(.button) {
    padding: 4px;
    line-height: 1.2;
    &:focus, &:hover {
      @include menu-hover;
    }
  }
  li.active>a:first-child:not(.button) {
    background: $primary-color;
    color: #FFF;
  }
}

.branding-wrapper {
  border-bottom: 1px solid lighten($base-color, 10%);
}

.secondary-links {
  li a {
    margin-bottom: 8px !important;
    @include menu-hover($color:#BBB);
  }
}

.main-nav {
  @extend .top-bar-section;
  ul {
    background: $base-color;
    margin: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
  }
  li a {
    color: #fff;
    text-align: center;
    white-space: nowrap;
  }
  li.active a {
    @include raised-box();
  }
  li:not(.has-form) a:not(.button),
  dd a:not(.button),
  li.active a {
    @include menu-hover();
  }
  li:not(.has-form) a:not(.button) {
    text-transform: uppercase;
    &:hover {
      background: darken($bland-color, 20%);
      text-shadow: #333 2px 2px;
    }
  }
}

.desktop-nav .sub-nav {
  margin: 0;
}

.top-bar,
.section-nav {
  background: #fff;
}

.section-nav {
  margin-top: 6px;
  &.fixed {
    margin-top: 0;
  }
  &.fixed,
  &.fixed .top-bar {
    background: $base-color;
  }
}

.show-only-on-fixed {
  display: none !important;
  .fixed & {
    display: block !important;
  }
}

// .main-nav ul {
// width: auto;
// height: auto !important;
// display: inline;
// }
// .main-nav ul li {
// float: left;
// }
// .main-nav li:not(.has-form) a:not(.button), 
// .main-nav dd a:not(.button), 
// .main-nav li.active a {
// position: relative;
// top: 0;
// padding: 0 15px;
// line-height: 45px;
// }


.services-wrapper {
  @include auto-gradient($base-color);
}

.search a.show-search-button {
  display: none;
  .services & {
    display: block;
  }
}

.services {
  padding-top: rem-calc(10px);
  li a {
    color: #fff;
    font-size: .9rem;
  }
  #q, .search-button {
    display: none;
  }
  #q {
    float: right;
  }
  input, button, .button {
    margin-bottom: .5rem;
  }
}

.dept-info {
  .parent-name, .org-name {
    display: none;
  }
}

.person .name {
  font-weight: 700;
}

.style-2 {
  background: #eee;
}

table .cost {
  text-align: right;
}

h1.logo {
  a {
    display: block;
    background-image: url("#{$img_base_url}/common/shc-logo.png");
    background-position: center top;
    background-size: 302px auto;
    background-repeat: no-repeat;
    width: 302px;
    height: 74px;
    margin: 0 auto;
    @include hide-text;
  }
}

.subpage-list .th {
  margin-bottom: 1rem;
}

@mixin small-logo {
  // shorthand bg image with bg-size does not work properly on iOS6
  // use longhand here
  background-image: url("#{$img_base_url}/common/shc-logo-micro.png");
  background-position: left center;
  -webkit-background-size: 234px 45px;
  background-size: 234px 45px;
  background-repeat: no-repeat;
  width: 234px;
  height: 45px;
}

h1.logo {
  // use small logo in mobile navbar and
  .mobile-nav & {
    a {
      @include small-logo;
    }
  }
  .top-bar .title-area & {
    a {
      @include small-logo;
    }
  }
}

.fixed .top-bar {
  height: 97px;
}

.top-bar .name {
  .fixed & {
    margin-top: 10px;
  }
  h1 a {
    display: none;
    .fixed & {
      display: block;
    }
  }
}

.do-toc {
  @extend .hide-for-medium-up;
  margin-bottom: rem-calc(10px);
}

.sub-nav {
  @each $bullet in dd, dt, li {
    #{$bullet} {
      @media #{$small-only} {
        margin-left: 0;
      }
    }
  }
}

.fixed .sub-nav {
  @each $bullet in dd, dt, li {
    #{$bullet} a {
      transition: all .3s;
      color: #FFF;
    }
    #{$bullet}.active a {
      transition: all .3s;
      background: #FFF;
      color: #333;
    }
    #{$bullet} a:hover {
      transition: all .3s;
      border-radius: 3px;
      background: lighten($bland-color, 10%);
      color: #111;
    }
  }
}

.contact-button a {
  position: fixed;
  right: -83px;
  top: 40%;
  background: #0070b9;
  border: 2px solid #D8D9DA;
  transform: rotate(270deg) ;
  -webkit-transform: rotate(270deg) ;
  -moz-transform: rotate(270deg) ;
  -o-transform: rotate(270deg) ;
  -ms-transform: rotate(270deg) ;
  -moz-box-shadow: -3px 10px 5px #000000;
  -webkit-box-shadow: -7px 10px 5px #000000;
  box-shadow: -2px 2px 7px #000000;
  color: White;
  text-decoration: none;
  padding: 20px 15px 50px 15px;
  display: inline-block;
  font-size: 130%;
  transition:All 0.25s ease;
  -webkit-transition:All 0.25s ease;
  -moz-transition:All 0.25s ease;
  -o-transition:All 0.25s ease;
  &:hover {
    background: #005a94;
    right: -69px;
  }
}

.main-content {
  margin-top: rem-calc(10px);
  // .left-sidebar {
  //   // border-left: 1px solid #aaa;
  //   // background: #eee;
  //   @media #{$small-only} {
  //     // border-right: none;
  //     background: #fff;
  //   }
  // }
  .right-sidebar {
    border-left: 1px solid #aaa;
    @media #{$small-only} {
      border-left: none;
    }
  }
  @media #{$small-only} {
    margin-top: rem-calc(10px);
  }
}

@mixin blocker() {
    margin-bottom: rem-calc(20px);
    padding-bottom: rem-calc(20px);
    border-bottom: 1px solid #aaa;
}

label.required:after {
  content: "*";
  color: Red;
  padding-left: 5px;
}

.blocky {
  @include blocker;
}

.subcontent {
  border-top: 1px solid #aaa;
  padding-top: rem-calc(20px);
  padding-bottom: rem-calc(20px);
}

nav.breadcrumbs {
  @extend .show-for-medium-up;
  font-size: 0.9rem;
  a {
    &:after {
      content: " >";
    }
    &[class|='current']:after {
      content: none;
    }
  }
  + hr {
    @extend .show-for-medium-up;
  }
}

.row-wrapper {
  margin-top: 30px;
}

.row.academic-area {
  margin-bottom: 30px;
  h2 {
    font-size: rem-calc(26px);
  }
  h2, h3 {
    margin-top: 0;
  }
  .emphatic p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0;
  }
  ul.majors-list {
    // @include columns(2);
    // @include column-gap(3rem);
    li {
      display: block;
      line-height: 1.2;
      a {
        display: inline-block;
        width: 100%;
        font-size: 1.2rem;
        padding: 5px 5px 3px 5px;
      }
    }
    margin-left: 0;
  }
}

.academic-area-banner {
  position: relative;
  h2 {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 95;
    color: White;
  }
}

.banner .medium-up {
  position: relative;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  .video {
    overflow: hidden;
    position: relative;
    video {
      width: 100%;
    }
  }
  .overlay {
    position: absolute;
    left: rem-calc(10px);
    bottom: 0;
    h2 {
      color: #FFF;
    }
  }
}

.subcontent .medium-12 {
  @media #{$medium-up} { 
    @include columns(2);
    @include column-gap(3rem);
  }
}

ul.subpage-list {
  .th {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// ul.media-file-list {
//   line-height: 1.3;
//   margin-left: 0;
//   li {
//     list-style-type:none;
//     a {
//       font-size:1.4rem;
//     }
//     i {
//       font-size: 3rem;
//       margin-right: 10px;
//       position:relative;
//       top:.5rem;
//     }
//     small {
//       font-size: 70%;
//     }
//   }
// }

.media-file-list {
  margin-top: 30px;
  li {
    .inner {
      border: 1px solid #ccc;
      padding: 0 .5rem .5rem .5rem;
    }
    a {
      font-size: 1.1rem;
      line-height: 1.4;
      text-align: center;
    }
    i, span, small {
      display: block;
    }
    small {
      font-size: 70%;
      margin-top: 7px;
    }
    a i {
      font-size: 3.5rem;
    }
  }
}

i {
  &.icon-pdf {
    @extend .fi-page-pdf;
  }
  &.icon-jpg, &.icon-jpeg, &.icon-png, &.icon-gif {
    @extend .fi-photo;
  }
}

table {
  width: 100%;
  &.col-wide-first th:first-of-type {
    width: 75%;
  }
  &.row-important-last tr:last-child{
    font-weight: 700;
  }
}

.testimonials {
  img {
    float: left;
    margin-right: 20px;
  }
  p.attribution:before {
    // put em-dash and en-space before each attribution
    content: "\2014\2002";
  }
  p.attribution {
    position: relative;
    top: -1em;
    text-align: right;
    color: #444;
    padding-right: 2em;
  }
}

.testimonial blockquote .image {
  position: relative;
  color: White;
  font-size: 3rem;
  width: 100%; 
  background: $secondary-color;
  padding-left: 50px;
  i {
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.testimonial.simple {
  img {
    float: left;
    margin-right: 20px;
  }
}

h1 .MMC_label {
  vertical-align: middle;
}

.MMC_legend {
  p {
    margin-bottom: rem-calc(5px);
  }
}
.MMC_label {
  text-transform: none !important; 
  a {
    color: #FFF !important;
  }
  &.M {
    @include label(
      $bg:$base-color
    );
  }
  &.m {
    @include label(
      $bg:$primary-color
    );
  }
  &.C {
    @include label(
      $bg:$secondary-color
    );
  }
}


.fastfacts {
  ul {
    margin-left: 0;
    li {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}

.fastfacts li {
display: inline-block;
margin-bottom: 5px;
}

// if fastfacts is in it's own block, highlight it
.fastfacts {
  @include panel(
    $bg: $secondary-color,
    $adjust: true
  );
}

.pullout {
  background: #eee;
  color: $primary-color-dark;
  border-left: 2px solid $primary-color;
  .huge {
    font-size:200%;
    line-height: 1.1;
    color: $secondary-color-dark;
  }
}

.globalfooter {
	margin-top: 30px;
}

.footer-top {
  background: $base-color;
  a {
    @include menu-hover;
  }
  a:link {
    color: #fff;
  }
  a:visited {
    color: #fff;
  }
  a:hover {
    color: $primary-color;
  }
  a:active {
    color: #ccc;
  }
}

.row-wrapper.panel {
  margin-bottom: 0;
}

footer {
  a {
    &:link {
      color: $topbar-link-color;
    }
    &:visited {
      color: #bbb;
    }
    &:hover {
      color: $secondary-color;
      text-decoration: underline;
    }
    &:active {
      color: $secondary-color;
    }
  }
  ul {
    @extend .no-bullet !optional;
  }
  .footer-bottom {
    padding-top: 20px;
    background: #333;
    .physical-address {
      text-align: center;
      color: #FFF;
      .tel {
        padding-left: 10px;
      }
    }
  }
}


// Visual enhancements
.masked_image_wrapper {
  position:relative;
  margin-bottom: rem-calc(20px);
  .masked_image {
    width: 100%;
    // height: 100%;
  }
  @media #{$medium-up} {
    .image_mask {
      background: url("#{$img_base_url}/common/lg-rounder-mask.png");
    }
  }
  .text-mask {
    @include top-shade-gradient(0.5, 60%);
  }
  .image_mask,
  .text-mask {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
}

[data-magellan-expedition] .sub-nav {
  background: #e3e3e3;
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #666;
    }
  }
}

[data-magellan-expedition] .banner-sub-nav {
  padding-left: 20px;
  dd,
  dd a {
    padding-right: .5rem;
    margin-left: 0;
    margin-right: 0;
  }
  dd:first-of-type {
    margin-left: 0;
    padding-left:0;
  }
  dd:first-of-type::before {
    // content: "jump to:";
  }
}

button, .button {
  @include button-size($padding:$button-sml);
  @include menu-hover;
}

button, .button {
  small {
    font-size: .9rem;
    color: #eee;
  }
}

button.important, .button.important {
  @include button(
    $bg: $secondary-color
  );
  line-height: 1.4;
  font-size: rem-calc(20px);
}

p a.button {
  margin-bottom: 0;
}

p.small {
  font-size: .9rem;
  color: #666;
}

.vcard {
  width: 100%;
}

.th.left {
  margin-right: rem-calc(20px);
}

.floating-return {
  position: fixed;
  display: none;
  opacity:0.6;
  bottom:10px;
  right:10px;
  background: #333;
  cursor: pointer;
  font-size: 1.5rem;
}

ul.social-menu {
  margin-bottom: 0;
  i {
    font-size: 4rem;
  }
}

.left-off-canvas-menu {
  ul.social-menu {
    padding-left: 0.66667rem;
    i {
      font-size: 2.5rem;
    }
  }
  ul.social-menu li a {
    color: #FFF;
  }
}

.off-canvas-list {
  .active {
    border-left: 5px solid $primary-color;
  }
  .sub a {
    padding-left: 20px;
  }
  &.no-active .active {
    border-left: none;
    a {
      color: inherit;
      font-weight: bold;
      background-color: inherit;
    }
  }
}

ul.tabs {
  li {
    &.active a {
      background: $secondary-color;
      color: #fff;
      font-weight: bold;
    }
    > a {
      background: #fff;
      padding: .5rem 1rem;
    }
    > a:hover {

    }
    img {
      width: 50px;
    }
  }
}

.tabs-content {
  @media #{$small-only} {
    margin-top: rem-calc(10px);
  }
}

// fake thumbor image sizes for testing
img {
  &.image-thumb {
    width: 120px;
  }
  &.image-thumb_sq {
    width: 120px;
    height: 120px;
  }
  &.image-mid {
    width: 300px;
  }
  &.image-full {
    width: 660px;
  }
}
